<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <meta charset="utf-8">
    </head>
    <body>
        <style>
            h1{
                color: black;
            }
            .chartDiv{
                position: relative;
            }
            .chartDiv > canvs{
                position: absolute;
                left:0;
                top: 100px;
                pointer-events: none;
            }
            .chartArea{
                width:600px;
                overflow-x: scroll;
            }
        </style>
        <h1>Socket.io Chart Sample</h1>
        <div id="chartDiv">
            <div class="chartArea">
                <canvas id="lineCanvas" width="384" height="210"></canvas>
            </div>
            <!-- <canvas id="chartAxis" height="300" width="0"></canvas> -->
        </div>
        <script>
            var socket = io();
            var labelsList = [];
            var dataList = [];

            setInterval(function(){
                socket.emit("random",{});
            },3000);
            
            socket.on("random-value",function(data){
                var date = new Date();
                labelsList.push(date.getMinutes()+":"+date.getSeconds())
                dataList.push(data.value);
                lineChart();
            });

            function lineChart(){
                var data = {
                    labels: labelsList,
                    datasets: [
                        {
                            label: "",
                            fillColor: "rgba(151,187,205,0.2)",
                            strokeColor: "rgba(151,187,205,1)",
                            pointColor: "rgba(151,187,205,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(151,187,205,1)",
                            data: dataList
                        }
                        // {
                        //     label: "",
                        //     fillColor: "rgba(220,220,220,0.2)",
                        //     strokeColor: "rgba(220,220,220,1)",
                        //     pointColor: "rgba(220,220,220,1)",
                        //     pointStrokeColor: "#fff",
                        //     pointHighlightFill: "#fff",
                        //     pointHighlightStroke: "rgba(220,220,220,1)",
                        //     data: randomList
                        // }
                    ]
                };

                var ctx = $("#lineCanvas")[0].getContext("2d");

                var chart = new Chart(ctx).Line(data, { 
                    scaleShowGridLines : true, //차트 눈금 표시 여부
                    scaleGridLineColor : "rgba(0,0,0,0.05)", //차트 눈금 색 설정
                    scaleGridLineWidth : 1// 차트 눈금 굵기
                    // onAnimationComplete: function(){
                    //     var sourceCanvas = this.chart.ctx.canvas;
                    //     var copywidth = this.scale.xscalePaddingLeft - 5;
                    //     var copyheight =  this.scale.endpoint + 5;
                    //     var targetctx = $("#chartAxis")[0].getContext("2d");
                    //     targetctx.canvas.width = copywidth;
                    //     targetctx.drawImage(sourceCanvas,0,0,copywidth,copyheight,0,0,copywidth,copyheight);
                    // }
                });
            }
        </script>
    </body>
    
</html>