<% include _header.ejs %>
<h1> Notice Board</h1>
<div id="notice_board">
    <% if(notices) { %>
        <% notices.forEach(function(notice){ %>
            <div class="">
                <h2><%= notice %></h2>
            </div>
        <% }) %>
    <% } else { %>
        <h2>등록된 글이 없습니다.</h2>
    <% } %>
</div>
<% include _footer.ejs %>